.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.App-link {
  color: #61dafb;
}

.scrollDownButton {
height: 50px;
width: 50px;
border: none;
border-radius: 100%;
background: none;
cursor: pointer;
text-align: center;
vertical-align: middle;
}
.scrollDownButton svg{
  fill:white;
}


.scrollUpButton {
height: 50px;
width: 50px;
border: none;
border-radius: 100%;
background: none;
cursor: pointer;
text-align: center;
vertical-align: middle;
position: absolute;
left: 0;
right: 0;
margin: auto;
z-Index: 100;
}

.scrollUpButton svg{
  fill:white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
